body{
  background-image: url("../images/cream-color-background.jpg");

@primary-color: black;
.dropdown-wrapper {
  position: relative;
  .search-container {
     .multiple-wrapper{
      padding: 5px 0;
      border: 1px solid #000000;
      padding-left: 2px;
      border-radius: 3px;
span.multiple{ 
span{
  background: #eee;
  padding: 2px;
  border-radius: 2px;
  padding-top: 4px;
    padding-bottom: 3px;
  .delete-item{
    font-size:15px;
    border:none;
    background: #eee;
    padding-left: 1px;
    padding-right: 1px;
   
    &:focus{
      outline: none;
    }
  }
}
}
.search {
  border: none;
 padding: 5px 0;

  &:focus {
    outline: @primary-color;

  }
}
}
    .searchbutton {
      background: white;
      font-size: 19px;
      cursor: pointer;
      border: none;
      margin-left: -24px;
      position: absolute;
      top: 11px;
      right: 1px;
    
      &:focus {
        outline: none;

      }

      &:hover {
        color: #ccc;
      }
    }
  }

  .search-list {
    list-style-type: none;
    font-size: 20px;
    padding: px 0 0;
    width: 100%;
    border: 1px solid @primary-color;
    padding: 0;
    display: inline-block;
    position: absolute;
    background: white;
    margin-top: -1px;
    margin-left: 1px;
    z-index: 1;
    max-height:350px;
    overflow:auto;
    &.hide {
      display: none;
    }

    .list {
      border-bottom: 1px solid @primary-color;
      font-family: Calibri;
      width:100%;
      &.hide {
        display: none !important;
      }
      &.selected{
     background-color:#ccc;
      }
      &:hover {
        cursor: pointer;
        background-color:#87CEFA;
        color:white;
      }
    }

  }
}}
